<style type="text/css">
            .row-centered {
                text-align:center;
            }
            .col-centered {
                display:inline-block;
                float:none;
                text-align:left;
                margin-right:-4px;
            }
            .pos{
                position: relative;
                top: 120px;
            }
        </style>



<div class="container">
            <div class="row row-centered pos">
                <div class="col-lg-6 col-xs-12 col-centered">
                    <div class="well">

                        <h2 style="text-align:center">Information System</h2>
                        <br>
                    <form (ngSubmit)="submitt();infoform.reset()" class="form-horizontal" #infoform="ngForm">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="dob">Date Of Birth:</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="model.dob" #dob="ngModel"  class="form-control date-picker-common"
                                 id="datepicker" ng2-datetime-picker name="dob" placeholder="mm/dd/yyyy" required date-only="true" date-format="YYYY/MM/DD"
      parse-format="YYYY-MM-DD" year="2014"
      month="12"
      day="31">
                                <div *ngIf="dob.errors && (dob.dirty || dob.touched)" class="alert alert-danger">
                                    <small [hidden]="!dob.errors.required">
                                        dob is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="gender">Gender:</label>
                            <div class="col-sm-9 radio">
                                <label><input [(ngModel)]="model.gender" #gender="ngModel" type="radio"  id="gender" name="gender" value="Male" placeholder="Gender" required>Male</label>
                                &ensp;&ensp;&ensp;
                                <label><input [(ngModel)]="model.gender" #gender="ngModel" type="radio"  id="gender" name="gender" value="Female" placeholder="Gender" required>Female</label>
                                <div *ngIf="gender.errors && (gender.dirty || gender.touched)" class="alert alert-danger">
                                    <small [hidden]="!gender.errors.required">
                                        Gender is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="salary">Salary:</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="model.salary" #salary="ngModel" type="number" class="form-control" id="salary" name="salary" placeholder="salary" required minlength="1" maxlength="8">
                                <div *ngIf="salary.errors && (salary.dirty || salary.touched)" class="alert alert-danger">
                                    <small [hidden]="!salary.errors.required">
                                        Salary is required
                                    </small>
                                    <small [hidden]="!salary.errors.minlength">
                        Please enter a valid salary !
                    </small>
                    <small [hidden]="!salary.errors.maxlength">
                        Please enter a valid salary !
                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="loading"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info pull-right" [disabled]="!infoform.form.valid">Calculate</button>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="loadings"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary pull-right"><i class="fa fa-spinner fa-spin"></i> Loading</button>
                            </div>
                        </div>
                        
                        
                        
                        <div *ngIf="showpremiumerr" class="form-group">
                            <hr>
                            <label class="control-label col-sm-4" for="dobb">DOB : {{dateob}}</label>
                            <label class="control-label col-sm-4" for="gen">Gender : {{gen}}</label>
                            <label class="control-label col-sm-4" for="sal">Salary : {{sal}}</label>
                        </div>
                        
                        <div *ngIf="showpremiumerr" class="alert alert-danger">
                            <small> Invalid age. age should be less than 66 or greater than 17 !</small>
                        </div>
                        
                        <div *ngIf="showpremium" class="form-group">
                            <hr>
                            <label class="control-label col-sm-4" for="dobb">DOB : {{dateob}}</label>
                            <label class="control-label col-sm-4" for="gen">Gender : {{gen}}</label>
                            <label class="control-label col-sm-4" for="sal">Salary : {{sal | number}}</label>
                        </div>
                        
                        <div *ngIf="showpremium" class="form-group">
                            <label class="control-label col-sm-4" for="prem">Premium Per Year:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="prem" name="prem" placeholder="Premium" value="{{values | number}}" disabled>
                            </div>
                        </div>
                    </form>

               

                    </div>
                </div>
                
            </div>
        </div>


         

<div class="container" *ngIf="showpremium">
            <div class="row row-centered pos">
                <div class="col-lg-10 col-xs-12 col-centered">
                    <div class="well">



 <div >
     
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                <th>Annuity Benefit</th>
                                <td>Rs. {{row1 | number}} paid monthly for a period of 3 years on the demise of the member</td>
                                </tr>
                                <tr>
                                <th>Death Benefit</th>
                                <td>Rs. {{row2 | number}} paid on the demise of the member</td>
                                </tr>
                                <tr>
                                <th>Accidental Death Benefit</th>
                                <td>Rs. {{row3 | number}} paid death of Policyholder if death is an accident</td>
                                </tr>
                                <tr>
                                <th>Total and Permanent Disability</th>
                                <td>Rs. {{row4 | number}} paid if policyholder has a Total and Permenent Disability</td>
                                </tr>
                                <tr>
                                <th>Partial and Permanent Disability</th>
                                <td>Rs. {{row5 | number}} paid if policyholder has a Partical and Permenent Disability</td>
                                </tr>
                                <tr>
                                <th>Critical Illness</th>
                                <td>Rs. {{row6 | number}} paid on event of a critical illness</td>
                                </tr>
                                <tr>
                                <th>Hospitalization Benefit</th>
                                <td>Rs. {{row7 | number}} per day hospitalization benefit</td>
                                </tr>
                                <tr>
                                <th>Funeral Expenses</th>
                                <td>Rs. {{row8 | number}} paid death of Policyholder if death for funeral expenses</td>
                                </tr>
                            </tbody>
                        </table>
         
                    </div>

                    </div>
                </div>
            </div>
</div>
